.ig,
.n,
.scl a,
.v,
.vs,
.vsn {
    overflow: hidden
}

.f,
.ssg {
    z-index: 4
}

.io .std::before,
.wsd {
    text-transform: uppercase
}

.f .n li,
.ig li,
.l li {
    list-style: none
}

.mmm dd,
.mr a,
.scl a,
.so .nf:before {
    white-space: nowrap
}

blockquote,
dd,
del,
dl,
dt,
footer,
h4,
ol,
small {
    font-size: 100%;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    background: 0 0
}

blockquote {
    quotes: none
}

blockquote:after,
blockquote:before {
    content: ''
}

a:hover {
    border-bottom: .08em solid #4db7db
}

.sc,
.wsd,
h4 {
    font-family: "Proxima Nova Bold", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700
}

.so p:before,
.wsl .so .nf:before {
    font-family: "Skolar Bold", Georgia, "Times New Roman", Times, serif;
    font-weight: 700;
    font-style: normal
}

.wsd {
    color: #808184
}

.f .btt,
.f .btt:hover {
    color: #e9392e
}

.f a {
    color: #2c92d0
}

.scl a,
.scl a:hover {
    color: transparent
}

.vs {
    border-bottom: .08em solid #eee
}

.f,
.n .k,
.n li:last-child,
.sc,
.si,
.ss:after,
.v .ilk,
.wsd {
    display: block
}

.n li,
.scl a,
.scl li {
    display: inline-block
}

.f,
.ig li,
.so,
.ss li,
.ssg,
.ssg li a {
    position: relative
}

.c a:focus,
.c a:hover {
    border-color: #4db7db
}

.c a:active {
    color: #fff;
    background-color: #e53b2c;
    border: 0
}

.ilk,
.mt a,
.ssg a {
    -webkit-tap-highlight-color: transparent
}

.ilk:active,
.ilk:focus,
.ilk:hover {
    background: 0 0;
    border: 0
}

h4 {
    font-size: 1em;
    line-height: 1.375em
}

.wsl h4 {
    margin-bottom: 1.375em
}

.l h3,
.ssg h2,
.wsl h3 {
    margin-bottom: 0
}

.m a.active,
.m a:hover {
    color: #fff;
    background: #87D0F3;
    border: 0
}

.f {
    width: 52.5em;
    padding: 2.5em 3.75em 1.25em;
    margin: 0 auto;
    border-top: .625em solid #e6fbff;
    color: rgba(0, 0, 0, .35);
    background: url(../images/conference-building-footer.png) 95% bottom no-repeat, #d4f7ff
}

.f:after {
    content: "";
    display: table;
    clear: both
}

.n .br,
.scl a {
    display: block
}

.f .btt,
.k,
.l li:nth-child(5n+5) {
    clear: left
}

.f .n {
    padding-top: .7143em;
    margin-right: 4.2857em
}

.f .n li {
    margin-right: 1.1429em
}

.f .n li:last-child {
    margin-top: 1.5714em
}

.f a {
    padding: .125em;
    border-bottom: .08em solid #2c92d0
}

.f .btt,
.f .btt:hover {
    border-bottom-color: #e9392e
}

.f a:hover {
    color: #fff;
    background-color: #2c92d0
}

.sc,
.ss a,
.ssg h2 {
    color: #2c92d0
}

.f .btt:hover {
    background: 0 0
}

.wrf {
    font-size: .875em;
    line-height: 2em;
    float: left
}

.ig li,
.ss li {
    line-height: 0;
    float: left
}

.k {
    margin: .7857em 0 1.5714em
}

.scl li {
    font-size: 1.1429em;
    margin: 1em .5em 1em 0
}

.scl a {
    text-align: left;
    text-indent: 100%;
    width: 3em;
    margin-right: .375em;
    padding: 1.25em 0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: 0;
    opacity: .5
}

.scl a:focus,
.scl a:hover {
    background-color: transparent;
    opacity: 1
}

.t {
    background-image: url(../images/social/twitter.png)
}

.y {
    background-image: url(../images/social/lanyrd.png)
}

.e {
    background-image: url(../images/social/email.png)
}

.ig {
    margin-right: -2.3%
}

.ig li {
    margin: 0 2% 2% 0;
    width: 23%
}

.ig a:active {
    background: 0 0
}

.ig img {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    border: .625em solid #d4f7ff;
    border-radius: 50%;
    -webkit-transition: border .3s;
    transition: border .3s
}

.ig img:focus,
.ig img:hover {
    border-color: #2c92d0
}

.x {
    background: url(../images/ox-sp-bg.png) 50% bottom no-repeat
}

.ssg {
    width: 100%;
    margin: 4.125em auto 4.125em -3.75em;
    padding: 4.125em 3.75em 1.375em;
    border-bottom: .625em solid #e6fbff;
    background: #d4f7ff
}

.ssg h2 {
    margin-bottom: 0
}

.ss {
    list-style-type: none;
    zoom: 1
}

.ss a {
    border: 0
}

.ss a:active {
    background-color: transparent
}

.ss li {
    text-align: center;
    overflow: visible;
    margin: 0 0 2.5%;
    width: 25%
}

.ss li:hover .sc {
    opacity: 0
}

.ss li:hover .si {
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg)
}

.ss li:active .si {
    -webkit-transform: scale(.9);
    -ms-transform: scale(.9);
    transform: scale(.9)
}

.si {
    width: 100%;
    height: 19.0625em;
    background-size: 11.25em;
    background-repeat: no-repeat;
    background-position: 50% 50%
}

.sc {
    font-size: 1.1875em;
    line-height: 1.2;
    padding: .2632em .5263em;
    margin-top: -2.63157895em
}

.spg {
    padding: 0 3.75em 7.5em
}

.wsl .mt {
    padding-top: 0
}

.mr a {
    margin: 0 .625em
}

.mr a:first-child {
    margin-left: 0
}

.wsd {
    font-size: .875em;
    letter-spacing: .1em
}

.so .nf:before {
    content: "SOLD OUT";
    font-size: 3.75em;
    text-align: center;
    top: 50%;
    left: 0;
    right: .3333em;
    z-index: 1;
    color: #e95c33;
    opacity: .4;
    -webkit-transform: rotate(-8deg);
    -ms-transform: rotate(-8deg);
    transform: rotate(-8deg)
}

.wdd.act::after {
    border-top-color: #fff
}

.act>.rbt {
    color: #fff
}

.ddu:active {
    border-color: #e9392e
}

.ddu li:hover {
    background-color: #e6fbff
}

.ddu li:hover a {
    color: #e9392e;
    border-color: #2c92d0
}

.ddu li:active,
.ddu li:focus {
    background-color: #e9392e
}

.ddu li:active a,
.ddu li:active span,
.ddu li:focus a,
.ddu li:focus span {
    color: #fff;
    border-color: #e9392e
}

.hsh a:active,
.hsh a:focus,
.hsh a:hover {
    border-color: #e9392e
}

.hi .ilk:active,
.hi .ilk:focus,
.hi .ilk:hover,
.hi .ilk:link {
    background: 0 0;
    -webkit-tap-highlight-color: transparent
}

.io .std::before {
    top: -1.75em;
    left: 0;
    padding: .416667em .83333em;
    color: #e9392e;
    background: #eee;
    box-shadow: inset 0 0 .25em rgba(0, 0, 0, .1);
    border-radius: .3125em .3125em 0 0;
    opacity: 1
}

.lsn {
    margin-bottom: 2.75em;
    padding-bottom: 1.375em
}

.l li {
    float: left;
    padding-right: 3%;
    margin-bottom: 2em;
    width: 22%
}

.l li h3 {
    margin-bottom: 0
}

.l img {
    margin: 1.25em 0 .625em
}

.vs {
    margin: 0 -4% 2.75em 0;
    padding-bottom: 2.75em
}

.v {
    float: left;
    width: 46%;
    margin-right: 4%
}

.v .ilk {
    margin-bottom: 1.375em;
    border: 0
}

.mmm dd {
    text-overflow: ellipsis;
    overflow: hidden
}

.cft .bt:focus,
.cft .bt:hover {
    border: .08em solid #ce9141;
    color: #c00;
    opacity: .9
}

.cft .bt:active {
    opacity: 1;
    background-color: #fab23e;
    box-shadow: inset 0 .08em .08em rgba(0, 0, 0, .4), inset 0 -.08em .08em rgba(255, 255, 255, .1)
}

.cft .sobt:active,
.cft .sobt:focus,
.cft .sobt:hover {
    color: #333;
    border: .08em solid #BABABA;
    text-decoration: none;
    text-shadow: 0 .08em 0 #ddd;
    cursor: pointer;
    background: #e8e8e8;
    box-shadow: 0 0 .3333em rgba(136, 136, 136, .5)
}

.cft .sobt:active {
    box-shadow: inset 0 0 .375em rgba(136, 136, 136, .5)
}

.si.Mason {
    background-image: url(../images/speakers/jama.png)
}

.ss li:active .si.Mason,
.ss li:focus .si.Mason,
.ss li:hover .si.Mason {
    background-image: url(../images/speakers/jama-hov.png)
}

.si.Shiflett {
    background-image: url(../images/speakers/chsh.png)
}

.ss li:active .si.Shiflett,
.ss li:focus .si.Shiflett,
.ss li:hover .si.Shiflett {
    background-image: url(../images/speakers/chsh-hov.png)
}

.si.Hamann {
    background-image: url(../images/speakers/paha.png)
}

.ss li:active .si.Hamann,
.ss li:focus .si.Hamann,
.ss li:hover .si.Hamann {
    background-image: url(../images/speakers/paha-hov.png)
}

.si.Clarke {
    background-image: url(../images/speakers/ancl.png)
}

.ss li:active .si.Clarke,
.ss li:focus .si.Clarke,
.ss li:hover .si.Clarke {
    background-image: url(../images/speakers/ancl-hov.png)
}

.si.Rachel {
    background-image: url(../images/speakers/rana.png)
}

.ss li:active .si.Rachel,
.ss li:focus .si.Rachel,
.ss li:hover .si.Rachel {
    background-image: url(../images/speakers/rana-hov.png)
}

.si.Jon {
    background-image: url(../images/speakers/jose.png)
}

.ss li:active .si.Jon,
.ss li:focus .si.Jon,
.ss li:hover .si.Jon {
    background-image: url(../images/speakers/jose-hov.png)
}

.si.Wes {
    background-image: url(../images/speakers/wesbos.png)
}

.ss li:active .si.Wes,
.ss li:focus .si.Wes,
.ss li:hover .si.Wes {
    background-image: url(../images/speakers/wesbos-hov.png)
}

.si.Manson {
    background-image: url(../images/speakers/roma.png)
}

.ss li:active .si.Manson,
.ss li:focus .si.Manson,
.ss li:hover .si.Manson {
    background-image: url(../images/speakers/roma-hov.png)
}

.si.Leisa {
    background-image: url(../images/speakers/lere.png)
}

.ss li:active .si.Leisa,
.ss li:focus .si.Leisa,
.ss li:hover .si.Leisa {
    background-image: url(../images/speakers/lere-hov.png)
}

.si.Gemert {
    background-image: url(../images/speakers/vavage.png)
}

.ss li:active .si.Gemert,
.ss li:focus .si.Gemert,
.ss li:hover .si.Gemert {
    background-image: url(../images/speakers/vavage-hov.png)
}

.si.Aaron {
    background-image: url(../images/speakers/aagu.png)
}

.ss li:active .si.Aaron,
.ss li:focus .si.Aaron,
.ss li:hover .si.Aaron {
    background-image: url(../images/speakers/aagu-hov.png)
}

.si.Aarron {
    background-image: url(../images/speakers/aawa.png)
}

.ss li:active .si.Aarron,
.ss li:focus .si.Aarron,
.ss li:hover .si.Aarron {
    background-image: url(../images/speakers/aawa-hov.png)
}

.si.Sara {
    background-image: url(../images/speakers/saso.png)
}

.ss li:active .si.Sara,
.ss li:focus .si.Sara,
.ss li:hover .si.Sara {
    background-image: url(../images/speakers/saso-hov.png)
}

.si.Umar {
    background-image: url(../images/speakers/umha.png)
}

.ss li:active .si.Umar,
.ss li:focus .si.Umar,
.ss li:hover .si.Umar {
    background-image: url(../images/speakers/umha-hov.png)
}

.si.Heydon {
    background-image: url(../images/speakers/hepi.png)
}

.ss li:active .si.Heydon,
.ss li:focus .si.Heydon,
.ss li:hover .si.Heydon {
    background-image: url(../images/speakers/hepi-hov.png)
}

.si.Jina {
    background-image: url(../images/speakers/jibo.png)
}

.ss li:active .si.Jina,
.ss li:focus .si.Jina,
.ss li:hover .si.Jina {
    background-image: url(../images/speakers/jibo-hov.png)
}

.si.Alla {
    background-image: url(../images/speakers/alkh.png)
}

.ss li:active .si.Alla,
.ss li:focus .si.Alla,
.ss li:hover .si.Alla {
    background-image: url(../images/speakers/alkh-hov.png)
}

.si.Wright {
    background-image: url(../images/speakers/chwr.png)
}

.ss li:active .si.Wright,
.ss li:focus .si.Wright,
.ss li:hover .si.Wright {
    background-image: url(../images/speakers/chwr-hov.png)
}

.si.Mystery {
    background-image: url(../images/speakers/ms.png)
}

.ss li:active .si.Mystery,
.ss li:focus .si.Mystery,
.ss li:hover .si.Mystery {
    background-image: url(../images/speakers/msh.png)
}

.ss::after {
    background: url(../images/speakers/rana-hov.png), url(../images/speakers/umha-hov.png), url(../images/speakers/saso-hov.png), url(../images/speakers/aagu-hov.png), url(../images/speakers/aawa-hov.png), url(../images/speakers/vavage-hov.png), url(../images/speakers/lere-hov.png), url(../images/speakers/roma-hov.png), url(../images/speakers/wesbos-hov.png), url(../images/speakers/jose-hov.png), url(../images/speakers/ancl-hov.png), url(../images/speakers/paha-hov.png), url(../images/speakers/chsh-hov.png), url(../images/speakers/jibo-hov.png), url(../images/speakers/jama-hov.png), url(../images/speakers/alkh-hov.png), url(../images/speakers/hepi-hov.png), url(../images/speakers/chwr-hov.png), url(../images/speakers/msh.png);
    visibility: hidden;
    height: 0;
    content: " ";
    clear: both
}

.konami-animation {
    -webkit-animation: konami-move 8s linear;
    animation: konami-move 8s linear
}

.bt,
.ddu,
.ddu a,
.ddu li,
.f a,
.si {
    -webkit-transition: all .3s;
    transition: all .3s
}

@media screen and (max-width:62.5em) {
    .btt,
    .io .std,
    .scl,
    .wrf {
        float: none
    }
    .ss li {
        width: 33%
    }
    .io .std {
        margin: 5em auto 0 0;
        width: 38.2%;
        padding: 1.25em 2.5% .5em
    }
    .f {
        width: 100%;
        text-align: center;
        padding: 2.5em 0 40%;
        background-position: center bottom
    }
    .f .n {
        margin: 0 auto
    }
    .n li {
        margin: 0 1.4286em 0 0
    }
    .n .br {
        display: inline-block
    }
    .scl {
        margin: 1em 0 0;
        padding-top: .625em;
        border-top: .08em solid rgba(0, 0, 0, .1)
    }
    .n .k {
        margin: .5em .5em 1em
    }
    .btt {
        clear: both
    }
}

@media screen and (max-width:48em) {
    .io .std {
        margin-bottom: 2em
    }
    .ig li {
        width: 31.3%
    }
    .l li {
        width: 48%;
        margin-right: 2%
    }
    .vs {
        padding-bottom: 0;
        border-bottom: 0
    }
    .v {
        float: none;
        margin: 0 0 2.75em;
        padding-bottom: 2.75em
    }
    .v img {
        max-width: 25em
    }
    .s .spnf,
    .s .tnf,
    .v {
        width: auto
    }
    .m a.active,
    .m a:hover,
    .v {
        border-bottom: .08em solid #eee
    }
    .f {
        padding-bottom: 50%
    }
}

@media screen and (max-width:45.3125em) {
    .si {
        background-size: 9.375em
    }
    .sc {
        font-size: 1em
    }
    .io .std {
        width: 50%
    }
}

@media screen and (max-width:38.125em) {
    .io .std {
        width: 61.8%
    }
    .f {
        padding-bottom: 75%
    }
}

@media screen and (max-width:37.5em) {
    .spg {
        padding: 0 .9375em 7.5em
    }
    .ss li {
        width: 50%
    }
    .ss li:nth-child(2n+1) {
        clear: left
    }
    .ss li:active .si,
    .ss li:hover .si {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none
    }
    .si {
        background-size: 10.625em
    }
    .ig li {
        width: 48%
    }
    .f {
        font-size: .875em;
        line-height: 1.5em
    }
    .f em {
        display: block;
        margin-bottom: .8333em
    }
    .n li {
        margin: 0 .41667em
    }
    .scl li {
        font-size: 1.5em
    }
}

@media screen and (max-width:26.25em) {
    .io .std {
        width: 95%
    }
    .si {
        height: 15.9375em;
        background-size: 7.5em
    }
    .cft td {
        padding-left: 0;
        margin-bottom: 1em
    }
    .cft td:first-child {
        display: inline;
        padding-right: 0
    }
    .cft td:first-child:after {
        content: " \2022 ";
        color: #333
    }
    .cft td:nth-child(2) {
        text-align: left;
        display: inline;
        margin-left: 0
    }
    .cft td:nth-child(3) {
        width: 8em;
        padding-left: 1.5em;
        padding-bottom: 1em;
        vertical-align: bottom
    }
    .f {
        padding-bottom: 100%
    }
}

@media print {
    .hi .ilk,
    .iol {
        float: none
    }
    @page {
        padding: 1.5cm
    }
    * {
        box-shadow: none;
        text-shadow: none;
        color: #000
    }
    body {
        background: #fff;
        max-width: 100%
    }
    h2,
    h3,
    h4 {
        orphans: 3;
        widows: 3;
        page-break-after: avoid
    }
    .si,
    .x,
    img {
        page-break-inside: avoid
    }
    .cls {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1
    }
    .pg {
        border-left: 0;
        border-right: 0;
        margin: 0;
        width: 100%
    }
    .iol,
    .rbt img,
    .wdd {
        width: auto
    }
    .hsh,
    .m,
    .n,
    .scl,
    .spg {
        display: none
    }
    header h1 {
        max-width: 5em;
        margin-left: 0;
        padding-left: 0
    }
    .ddc {
        right: 0
    }
    .wdd {
        padding: 0 2.1429em;
        background: 0 0
    }
    .wdd:after {
        border: 0
    }
    .rbt {
        font-size: 1.25em;
        margin-bottom: .25em
    }
    .rbt img {
        height: 1.25em
    }
    .c {
        padding: 1em 0 0
    }
    .hi .ilk {
        display: block;
        margin: 1em auto 2em
    }
    .ioc {
        font-size: 1.1875em;
        margin-top: 2em
    }
    .ioc a:after {
        content: " (" attr(href) ") ";
        font-size: 90%;
        color: #444
    }
    .ssg {
        background-color: #d4f7ff
    }
    .ssg h2 {
        text-align: center;
        margin: 0 auto
    }
    .ss li {
        width: 33.333%
    }
    .si {
        height: 10em;
        background-size: 6.25em
    }
    .sc {
        font-size: .875em;
        line-height: 2em
    }
    .bb {
        margin-bottom: 0;
        padding-bottom: 2.5em
    }
    .bb h2 {
        font-size: 1.1875em
    }
    .f {
        width: auto;
        margin-left: 0;
        border-top: .08em solid #eee;
        background: 0 0
    }
}