body > .container {
    margin-top: 50px;
}

.table-hover > tbody > tr:hover {
    background-color: #D2D2D2;
}

#top > p {
    margin-top: 1em;
    margin-bottom: 1em;
}

#top > img {
    text-align: center;
    width:350px;
}

.headerleft {
    margin: 1em;
    font-size: 1.2em;
    color: #9a9a9a;
}

table > tbody > tr {
    cursor: pointer;
}

.form-group {
    max-width: 400px;
}

@media screen and (max-width: 550px) {
    .description {
        display: none;
    }
}

.jumbotron > h3 {
    margin-top: 1.5em;
}

div > h3 {
    margin-bottom: 1em;
}